body {
  background-color: rgb(218, 243, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
}

#container {
  display: flex;
  flex: 0 0 auto;
  height: 650px;
  width: 400px;
  padding: 50px;
  border: 20px hidden rgb(5, 5, 5);
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 65, 96);
  border-radius: 100px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

#lines_container {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 350px;
  height: 600px;
  background-color: rgb(3, 65, 96);
}

#screen {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  padding-right: 40px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 8px;
}

.line {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 30px;
  background-color: rgb(93, 122, 147);
}

.number, .operator, #dot, #backspace{
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: rgb(139, 166, 240);
  border-radius: 8px;
}

#backspace, #clear {
  background-color: rgb(215, 117, 117);
}

#firstline {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 20px;

}

#lastline {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 20px;
}
